body {
  background-color: antiquewhite;
}

hr{
  color: goldenrod;
}

.carousel {
  padding: 7rem 3rem;
}

.carousel-item {
  height: 50%;
}

form{
  width: 200%;
}

.search{
  padding:8px 15px;
  background:rgba(100, 96, 96, 0.2);
  border:0px solid #dbdbdb
}

.button {
  position:relative;
  padding:6px 15px;
  left:-8px;
  border:2px solid #daa520;
  background-color: #daa520;
  color:#fafafa;
}

.button:hover  {
  background-color:#fafafa;
  color:#207cca;